.footer {
    background-color: #d1cfcf;
    color: #000000;
    padding: 20px;

    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
