.footer {
    background-color: #5f5b61;
    color: #fffcfc;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
